:root {
	--main-font-size: 1.4em;
	--textarea-padding: 0.2em;
	--main-lr-padding: 6%;
}
* {
	box-sizing: border-box;
}

body {
	background-color: var(--main-bg-color);
	background-color: var(--main-bg-color);
	font-family: var(--main-font-family);
	color: var(--main-text-color);
}
header, main {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--form-bg-color);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main {
	padding: 3em;
}

.intro {
	margin-top: 0;
}

header {
	background-color: var(--accent-bg-color);
	color: var(--accent-text-color);
	font-family: var(--accent-font-family);
	font-weight: bold;
	padding: 2% var(--main-lr-padding);
	white-space: nowrap;
}
h1 {
	display: inline-block;
}

.spacer {
	height: 2em;
}
.h-spacer {
	height: 2em;
	width: 2em;
	float: left;
}

label {
	font-size: var(--main-font-size);

}

input {
	font-size: var(--main-font-size);
	font-family: var(--main-font-family);
	border: 1px solid var(--main-input-border-color);
}
input, textarea {
	padding: var(--textarea-padding);
}