:root {
	--main-font-size: 1.4em;
	--textarea-padding: 0.2em;
	--main-lr-padding: 6%;
}

body {
	background-color: rgb(250, 239, 198);
}
main {
    padding: 3em;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
    background-color: rgb(242, 236, 217);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input {
    background-color: rgb(242, 236, 217);
}

header {
	background-color: var(--accent-bg-color);
	color: var(--accent-text-color);
	font-family: var(--accent-font-family);
	font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
	display: inline-block;
    padding: 5%;
}

input, textarea {
	padding: var(--textarea-padding);
}
label {
    font-size: large;
}

table {
	width: 100%;
}
td {
	text-align: center;
}
td:nth-child(2) {
	text-align: left;
}

.spacer {
	height: 2em;
}